<div class="card-deck">
  <div class="card">
  	<h5>Mariano Melgarejo</h5>
    <img class="card-img-top" src="../assets/melgarejo.jpg" alt="Card image cap">
    <div class="card-body">
    	<p>Votos: <span id="melgarejo">0</span></p>
    	<button class="btn btn-primary" onclick="conteoMelgarejo(event); general(event);">Votar</button>
    	<p><span id="porcentajeMelgarejo">0</span>%</p>
    </div>
  </div>
  <div class="card">	
  	<h5>Jose Ballivian</h5>
    <img class="card-img-top" src="../assets/ballivian.jpg" alt="Card image cap">
    <div class="card-body">
    	<p>Votos: <span id="ballivian">0</span></p>
    	<button class="btn btn-primary" onclick="conteoBallivian(event); general(event);">Votar</button>
    	<p><span id="porcentajeBallivian">0</span>%</p>
    </div>
  </div>
  <div class="card">
  	<h5>Jose Maria Linares</h5>
    <img class="card-img-top" src="../assets/linares.jpg" alt="Card image cap">
    <div class="card-body">
    	<p>Votos: <span id="linares">0</span></p>
    	<button class="btn btn-primary" onclick="conteoLinares(event); general(event);">Votar</button>
    	<p><span id="porcentajeLinares">0</span>%</p>
    </div>
  </div>
</div>
<br><br>