<div class="card">
  <div class="card-header">
    Persona
  </div>
  <div class="card-body">
		  <div class="form-group">
		    <label for="exampleInputEmail1">Nombres</label>
		    <input type="txt" class="form-control" id="nombres" [(ngModel)]="nombres"   aria-describedby="emailHelp">
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Apellidos</label>
		    <input type="txt" class="form-control" id="apellidos" [(ngModel)]="apellidos"  name="apellidos" aria-describedby="emailHelp" >
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Telefono</label>
		    <input type="txt" class="form-control" id="telefono" [(ngModel)]="telefono" name="telefono" aria-describedby="emailHelp" >
		  </div>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Edad</label>
		    <input type="txt" class="form-control" id="edad" [(ngModel)]="edad" name="edad" aria-describedby="emailHelp" >
		  </div>
  </div>
</div>

